<!-- About Section -->
<section id="about" class="pt-4 pb-5">
    <div class="content-wrapper">
        <div class="container">
            <div class="sec-title">Sobre o LaSER</div>

            <div class="row justify-content-center">
                <div class="col-auto">
                    <img src="{{ site.baseurl }}/img/about-us/about-1.png" width="400" alt="" class="rounded">
                </div>
                <div class="col content text-justify">
                    <h5 class="content-title">Engenharia de sistemas e robótica</h5>
                    <p class="content-text">
                        Criado em 2013, o <strong>Laboratório de Engenharia de Sistemas e Robótica</strong> - LaSER está integrado ao Centro de Informática (CI) da Universidade Federal da Paraíba (UFPB). Localizado nas instalações da unidade de Mangabeira do Campus I da UFPB, o laboratório surgiu da proposta de desenvolver projetos de pesquisa em hardware e software voltados às áreas de Robótica, Sistemas Embarcados e Inteligência Artificial. Hoje ele se destaca por projetos de excelência nas áreas, Veículos Aéreos não Tripulados (Drones), Robótica, Otimização, Logística e Transporte. O LaSER também é um ponto de presenção de empresas, que possuem laboratórios integrados ao LaSER para o desenvolvimento de pesquisa aplicada e formação de recursos humanos.
                    </p>
                    <a href="{{ site.baseurl }}/about" class="btn btn-primary"><i class="fas fa-info-circle mx-1"></i> Saiba mais</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End About Section -->
