<!-- Begin Team Section -->
<section id="team" class="pb-0">
	<div class="content-wrapper pb-4">
		<div class="container">
			<div class="row justify-content-center mt-5">
				<div class="col text-center">
					<div class="sec-sub-title">Conheça nossos</div>
					<div class="sec-title f-weight-light align-items-center">Professores</div>
				</div>
			</div>

			<div class="row justify-content-center mb-5">
				<div class="col text-center">
					<div class="card-deck">
						{% for teamMember in site.data.team %} 
							{% assign counter = forloop.index | modulo:3%}
							<div class="card shadow-sm">
								<img class="card-img-top mx-auto mb-4 rounded-circle" src="{{ site.baseurl }}/img/team/{{ teamMember.thumbnailUrl }}" alt="...">
								<div class="card-body text-center p-0">
									<h5 class="card-title">{{ teamMember.name }}</h5>
									<p class="card-text"><small class="text-muted">{{ teamMember.title }}</small></p>
									<div class="row no-gutters justify-content-center">
										{% for social in teamMember.social %}
										<a href="{{ social.link }}" class="ai ai-{{ social.name }}-square d-flex px-2 icon" target="_blank"></a>
										{% endfor %}
									</div>
								</div>
							</div>

							
							{% if counter == 0 %}
							<div class="w-100 d-none d-sm-block"></div>
							{% endif %}
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="content-wrapper pb-0 bg-gray">
		<div class="container">
			<div class="row justify-content-center pt-4">
				<div class="col text-center">
					<div class="sec-sub-title">Nossos</div>
					<div class="sec-title f-weight-light align-items-center">Estudantes</div>
				</div>
			</div>

			<div class="row justify-content-center pt-4"></div>
				<div class="col text-justify">
						{% if site.data.students.phd != null %}
							<h6> Alunos de doutorado sob Co-orientação</h6>
							<ul class="mb-5">
								{% for student in site.data.students.phd %} 
									<li>
										<i class="fa fa-angle-double-right mr-3 icon-list"></i>
										<a href="{{ student.link }}" target="_blank">{{ student.name }} {% if student.obs != null %} ({{ student.obs }}) {% endif %}</a>
									</li>
								{% endfor %}
							</ul>
						{% endif %}

						{% if site.data.students.masters != null %}
							<h6> Alunos de mestrado</h6>
							<ul class="mb-5">
								{% for student in site.data.students.masters %} 
									<li>
										<i class="fa fa-angle-double-right mr-3 icon-list"></i>
										<a href="{{ student.link }}" target="_blank">{{ student.name }} {% if student.obs != null %} ({{ student.obs }}) {% endif %}</a>
									</li>
								{% endfor %}
							</ul>
						{% endif %}

						{% if site.data.students.bachelor != null %}
							<h6> Alunos de graduação</h6>
							<ul class="mb-5">
								{% for student in site.data.students.bachelor %} 
									<li>
										<i class="fa fa-angle-double-right mr-3 icon-list"></i>
										<a href="{{ student.link }}" target="_blank">{{ student.name }} {% if student.obs != null %} ({{ student.obs }}) {% endif %}</a>
									</li>
								{% endfor %}
							</ul>
						{% endif %}
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End Team Section -->