<style>
	#infra-carousel{
		max-height: 450px;
		overflow: hidden;
	}

	#infra-carousel .carousel-caption{
		top: 310px;
	}

	#infra-carousel .carousel-item h5, #infra-carousel .carousel-item p{
		color: white;
		font-weight: 300;
		text-shadow: 1px 1px #707070;
	}
</style>

<!-- Begin About us Section -->
<section id="about-us" class="pb-0">
	<div class="content-wrapper py-5 my-3">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col text-left">
					<h4 class="d-block">O LaSER</h4>
					<p class="text-justify">
						O <strong>Laboratório de Engenharia de Sistemas e Robótica</strong> (LaSER) foi criado em 2013 e aprovado  pelos membros do conselho do Centro de Informática da Universidade Federal da Paraíba (UFPB), tornando-se assim, parte do Departamento de Sistemas de Computação. Sua proposta de criação foi lançada através dos seus atuais coordenadores: Drº Alisson Brito e Drº Tiago Nascimento. Em 2018, o laboratório expandiu sua área de atuação, acrescentando as áreas de Logística, Transporte e Otimização. Além disso, o LaSER tem se tornado um ponto de presença de empresas de tecnologia que buscam pesquisa aplicada de ponta e a formação de recursos humanos. Sempre com projetos práticos e com um olhar para a indústria, serviços, empreendedorismo e formação de recursos humanos.
					</p>
				</div>

				<div class="col-auto">
					<img src="{{ site.baseurl }}/img/about-us/about-1.png" width="400" alt="" class="rounded">
				</div>
			</div>
		</div>
	</div>

	<div class="content-wrapper py-5 my-3 bg-gray">
			<div class="container">
				<div class="sec-sub-title">Conheça nossa</div>
				<div class="sec-title">Infraestrutura</div>
				<div class="row justify-content-center">
					<p class="text-justify">
						O LaSER conta com a colaboração de mais de 50 jovens pesquisadores, entre doutores, estudantes de mestrado e graduação, todos integrantes do GPSR (Grupo de Pesquisa em Sistemas Robóticos) que estão interconectados com pesquisadores de universidades colaboradoras do Brasil (UFBA, UFCG e UFRN) e do mundo (Universidade do Porto, Karlsruhe Institute of Technology e Politecnico di Milano), trazendo as atuais tendências tecnológicas mundiais na área de sistemas robóticos.
					</p>
					<p class="text-justify">
						O laboratório conta com um espaço físico de aproximadamente 1.000 m<sup>2</sup>, incluindo uma área de aproximadamente 400 m<sup>2</sup> apenas para testes com VANTs em ambientes fechados. 
					</p>
					<p class="text-justify">
						Além do espaço físico, o LaSER desenvolve um modelo próprio de VANT tipo Asa Fixa, tendo 4 aeronaves atualmente disponíveis, possui também 6 robôs TurtleBots 2 adquiridos pelo programa CAPES Pró-Equipamentos 2013, bem como dois quadricópteros.
					</p>
				</div>

				<div class="row justify-content-center">
					<div class="bd-example">
						<div id="infra-carousel" class="carousel slide" data-ride="carousel">
							<ol class="carousel-indicators">
							<li data-target="#infra-carousel" data-slide-to="0" class="active"></li>
							<li data-target="#infra-carousel" data-slide-to="1"></li>
							<li data-target="#infra-carousel" data-slide-to="2"></li>
							</ol>
							<div class="carousel-inner">
							<div class="carousel-item active">
								<img src="/img/infra/sala_conductor.jpg" class="d-block w-100" alt="Sala Conductor">
								<div class="carousel-caption d-none d-md-block">
								<h5 class="shadow-sm">Sala Conductor</h5>
								<p>Sala Laboratório da empresa Conductor.</p>
								</div>
							</div>
							<div class="carousel-item">
								<img src="/img/infra/sala_vsoft.jpg" class="d-block w-100" alt="Sala VSoft">
								<div class="carousel-caption d-none d-md-block">
								<h5>Sala VSoft</h5>
								<p>Sala do Laboratório da empresa VSoft.</p>
								</div>
							</div>
							<div class="carousel-item">
								<img src="/img/infra/terreo.jpg" class="d-block w-100" alt="Terreo">
								<div class="carousel-caption d-none d-md-block">
								<h5>Terreo</h5>
								<p>Espaço no terreo destinado à aulas práticas de disciplinas dos professores do LaSER.</p>
								</div>
							</div>
							</div>
							<a class="carousel-control-prev" href="#infra-carousel" role="button" data-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							<span class="sr-only">Previous</span>
							</a>
							<a class="carousel-control-next" href="#infra-carousel" role="button" data-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="sr-only">Next</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>

	<div class="content-wrapper pb-0">
		<div class="container">
			<div class="row justify-content-center pt-3 pb-5">
				<div class="col text-center">
					<div class="sec-sub-title">Nossas</div>
					<div class="sec-title f-weight-light">Linhas de Pesquisa</div>
					<img class="img-laser-about mb-5" src="{{ site.baseurl }}/img/laser-about.svg" width="80%" alt="">
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End About us News Section -->