<style>

.icon-table{
	color: #03A9F4;
}

#enviar-solucao{
	height: 50px;
	width: 200px;
}

.podium-group{
	position: absolute;
	font-size: 18px;
	font-weight: 400;
	color: white;
	width: 100px;
	text-align: center;
}

.podium-gold-group{
	top: 150px;
	left: 150px;
}

.podium-silver-group{
	top: 180px;
	left: 35px;
}

.podium-bronze-group{
	top: 190px;
	left: 264px;
}
</style>

<!-- Begin TSP Cup Section -->
<section id="tsp-cup" class="pb-0">
	<!-- Descrição -->
	<div class="content-wrapper pb-0 mb-5">
		<div class="container">
			<div class="row justify-content-center no-gutters">
				<div class="col text-center">
					<div class="sec-title f-weight-light align-items-center">A competição</div>
				</div>
			</div>
			<div class="row no-gutters justify-content-center div-instructions">
				<div class="col-10 text-justify">
					<p>A <strong>TSP Cup</strong> é uma atividade que faz parte do projeto final da disciplina <code>Análise e Projeto de Algoritmos</code> oferecida pelo Departamento de Computação Científica do Centro de Informática da UFPB. No trabalho os alunos devem aplicar todo o conhecimento obtido durante a disciplina para a implementação de um algoritmo eficiente para a resolução do clássico <code>Problema do Caixeiro Viajante</code> (do inglês The Travelling Salesman Problem - TSP). Nesse problema um caixeiro viajante deve visitar um conjunto de n cidades de forma que: (i) cada cidade seja visitada exatamente uma vez; (ii) ao final o caixeiro retorne à cidade inicial; e (iii) o percurso seja feito com a menor distância possível.</p>

					<p>O objetivo principal da competição é estimular e motivar os estudantes a desenvolver o melhor algoritmo possível para a resolução de instâncias (cenários) difíceis do Problema do Caixeiro Viajante.</p>

					<h5 class="d-block">Participação</h5>

					<p>Cada grupo pode enviar soluções por meio do formulário disponível no link abaixo. Note que, caso encontrem novas soluções ao longo do desenvolvimento do projeto, o grupo pode enviar uma nova (e melhor) solução para a atualização do ranking. O formulário irá permanecer disponível por toda a duração do projeto, sendo desabilitado somente no último dia de aulas (11 de Maio de 2019).</p>

					<p><strong>Obs:</strong> O ranking é geralmente atualizado uma vez por dia, então não se preocupe se sua solução não for atualizada imediatamente.</p>

					<div class="container mt-4">
						<div class="row justify-content-center">
							<a href="/tsp-cup/submit"><button type="button" id="enviar-solucao" class="btn btn-primary f-weight-regular btn-lg">Enviar solução</button></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Podium -->
	<div class="content-wrapper bg-gray pb-5 mb-2">
		<div class="container">
			<div class="row justify-content-center no-gutters">
				<div class="col text-center">
					<div class="sec-title f-weight-light align-items-center">Pódio</div>
				</div>
			</div>
			<div class="row justify-content-center no-gutters">
				<div id="main-podium" class="position-relative">
					<img src="/img/icons/podium.svg" height="250" alt="">
					<div class="podium-gold-group podium-group position-absolute">---</div>
					<div class="podium-silver-group podium-group position-absolute">---</div>
					<div class="podium-bronze-group podium-group position-absolute">---</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Ranking -->
	<div class="content-wrapper pb-0 pt-5 mb-4">
		<div class="container">
			<div class="row justify-content-center no-gutters">
				<div class="col text-center">
					<img src="/img/icons/shield.svg" height="50" alt="">
					<div class="sec-title f-weight-light align-items-center mb-0 pb-0">Classificação</div>
					<div id="rank-last-update" class="sec-subtitle f-weight-light align-items-center mb-4">(Última atualização em 16/04/2018 às 12:00)</div>
				</div>
			</div>
			<div class="row justify-content-center no-gutters">
				<div class="col text-center">
					<table id="table-ranking" class="table text-left" style="font-size: 1rem">
						<thead class="thead-light">
							
							<tr>
								<th style="width: 10%" class="text-center"> <i class="fas fa-hashtag mr-2 icon-table"></i> Ranking</th>
								<th style="width: 10%" class="text-left"> <i class="fas fa-medal mr-2 icon-table"></i> Pontos</th>
								<th style="width: 30%"><i class="fas fa-route mr-2 icon-table"></i> Soluções (tsp1/tsp2/tsp3)</th>
								<th style="width: 15%"><i class="fas fa-id-badge mr-2 icon-table"></i> Grupo</th>
								<th style="width: 35%" class=""><i class="fas fa-users mr-2 icon-table"></i> Integrantes</th>
							</tr>
						</thead>
						<tbody>
						
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End TSP Cup Section -->

