<style>

.pagination .page-link {
    padding: 0.75rem 1.5rem;
    line-height: 1.5;
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

</style>

<!-- Begin Projects Section -->
<section id="projects2">
	<div class="content-wrapper mx-auto" style="max-width: 1300px;">
		{% for post in paginator.posts %}
			{% assign counter = forloop.index | modulo:2 %}
			{% assign postUrl = site.baseurl | append: post.url %} 
			<div class="row justify-content-center no-gutters mb-5">
				<div class="col-xl-10 col-md-10 col-xs-12 text-center">
					<div class="card shadow-sm">
						<div class="card-horizontal">	
							{% if counter == 1 %} 
								<div class="image-wrapper mr-4" style="max-width: 600px; min-width: 400px;">
									<img src="{{ site.baseurl }}/assets/projects/{{post.image-path}}" class="card-img-top mb-3 rounded" alt="...">
								</div>
							{% endif%}
							<div class="card-body text-left p-0">
								<h4 class="card-title">{{ post.title }}</h4>
								<p class="card-text text-justify">{{ post.abstract }}</p>
								<a href="{{ postUrl }}" class="btn btn-primary"><i class="fas fa-angle-right mx-1"></i> Saiba mais</a>
							</div>
							{% if counter == 0 %} 
								<div class="image-wrapper ml-4" style="max-width: 600px; min-width: 400px;">
									<img src="{{ site.baseurl }}/assets/projects/{{post.image-path}}" class="card-img-top mb-3 rounded" alt="...">
								</div>
							{% endif%}
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>

	<!-- Pagination links -->
	<div class="row justify-content-md-center">
		<div class="col-auto">
			<div class="pagination-container">
				<ul class="list-pagination pagination">
					<!-- Previoius -->
					<li class="page-item previous {% unless paginator.previous_page %} disabled {% endunless %}">
						<a href="{{ paginator.previous_page_path }}" class="page-link">Anterior</a>
					</li>

					<!-- Trail -->
					{% if paginator.page_trail %}
						{% for trail in paginator.page_trail %}
							<li class="page-item {% if page.url == trail.path %} active {% endif %}">
								<a class="page-link" href="{{ trail.path | prepend: site.baseurl }}" title="{{trail.title}}">{{ trail.num }}</a>
							</li>
						{% endfor %}
					{% endif %}
					
					<!-- Next -->
					<li class="page-item next {% unless paginator.next_page %} disabled {% endunless %}">
						<a href="{{ paginator.next_page_path }}" class="page-link">Próxima</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>
<!-- End Projects Section -->