<!-- Begin Contact Section -->
<section id="contact">
    <div id="map-canvas"></div>
    <div class="description-wrapper row align-items-center">
        <div class="col-lg-3 col-md-4 col-sm-6 offset-2 location-description text-left">
            <div class="row">
                <div class="pull-left">
                    <h4>Contato</h4>
                    <h6 class="mb-4">Laser - Centro de Informática da UFPB</h6>
                    
                    <!-- Address -->
                    <div class="item row no-gutters mb-2">
                        <div class="icon col-auto mr-1" style="width: 16px;">
                            <span class="fa fa-map-marker-alt"></span>
                        </div>
                        <div class="col">
                            Rua dos Escoteiros, s/n <br>
                            Mangabeira, João Pessoa - PB <br>
                            CEP 58055-000
                        </div>
                    </div>

                    <!-- Phone  -->
                    <div class="item row no-gutters mb-2">
                        <div class="icon col-auto mr-1" style="width: 16px;">
                            <span class="fa fa-phone"></span>
                        </div>
                        <div class="col">
                            + 55 (83) 3209-8319
                        </div>
                    </div>

                    <!-- Email  -->
                    <div class="item row no-gutters mb-2">
                        <div class="icon col-auto mr-1" style="width: 16px;">
                            <span class="fa fa-envelope"></span>
                        </div>
                        <div class="col">
                            laser@ci.ufpb.br
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Contact Section -->

