<style>

.icon-table{
	color: #03A9F4;
}

#enviar-solucao{
	height: 50px;
	width: 200px;
}

#form-tsp-cup-submit label{
	font-size: 1.2rem;
	color: #3d3d3d;
	font-weight: 300;
}

#form-tsp-cup-submit input{
	line-height: 
}

#form-tsp-cup-submit .invalid-feedback{
	font-size: 1rem;
}

#form-tsp-cup-submit button{
	min-width: 120px;
}

.div-instructions p{font-size: 16px;}
.div-instructions ul, .div-instructions ol{font-size: 15px;}

</style>

<!-- Begin TSP Cup Section -->
<section id="tsp-cup" class="pb-0">
	<!-- Instruções -->
	<div class="content-wrapper pb-0 mb-5">
			<div class="container">
				<div class="row justify-content-center no-gutters">
					<div class="col-10 text-center">
						<div class="sec-title f-weight-light align-items-center">Instruções</div>
					</div>
				</div>
			<div class="row no-gutters justify-content-center div-instructions">
				<div class="col-10 text-justify">
					<p>Cada grupo pode enviar soluções por meio do formulário disponível no link abaixo. Note que, caso encontrem novas soluções ao longo do desenvolvimento do projeto, o grupo pode enviar uma nova (e melhor) solução para a atualização do ranking. O formulário irá permanecer disponível por toda a duração do projeto, sendo desabilitado somente no último dia de aulas (11 de Maio de 2019).</p>

					<p>Para submeter uma solução, o aluno deve:</p>
					
					<ol>
						<li>Escolher o seu grupo</li>
						<li>Escolher para qual instância deseja enviar uma solução</li>
						<li>Inserir o valor da solução que deseja enviar</li>
						<li>Informar a solução</li>
					</ol>
					
					
					<p>Note que para informar sua solução no <strong>passo 4</strong>. deve-se seguir as seguintes regras de formatação:</p>
					<!-- primeiro escolher seu Grupo, a instância para a qual deseja enviar uma solução e o valor da mesma. Em seguida deve-se informar a solução atentando para as seguintes regras de formatação:</p> -->
					
					<ul>
						<li>O conjunto de vértices V = {0, ..., n-1}, onde n é o número de vértices (clientes) na instância. Isso significa, que na sua solução o primeiro vértice deve ser designado pelo identificador 0 e o último pelo identificador n-1</li>
						<li>A solução a ser enviada deve ser <strong>viável</strong>, ou seja, deve representar uma rota que parta de um determinado vértice, passe por cada vértice exatamente uma vez e retorne ao vértice inícial ao final.</li>
						<li>Para informar uma rota que, por exemplo, parta do vértice 0, em seguida visite os vértices 1, 3, e 2 (nessa ordem), e por fim retorne ao vértice inicial 0, utilize o seguinte formato: <code>0, 1, 3, 2, 0</code>. Sendo assim, a rota deve ser informada separando-se os vértices por vírgulas.</li>
					</ul>

					<p>Caso encontre algum problema para enviar sua solução, contate seu professor.</p>

					<h5 class="d-block">Observação</h5>

					<p>Caso não veja imediatamente sua solução no ranking, não se preocupe, ela passará por uma avaliação adicional antes de ser contabilizada. O ranking é atualizado, em geral, ao menos uma vez por dia.</p>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Enviar solução -->
	<div class="content-wrapper pb-0 mb-5">
		<div class="container">
			<div class="row justify-content-center no-gutters">
				<div class="col text-center">
					<div class="sec-title f-weight-light align-items-center">Enviar solução</div>
				</div>
			</div>
			<div class="row justify-content-center no-gutters mx-auto mb-5 pb-5" style="max-width: 800px;">
				<div class="col-10 text-left">
					<form id="form-tsp-cup-submit" class="needs-validation mb-4" novalidate>
						<div class="form-group">
							<label for="select-name">Grupo</label>
							<select class="form-control" id="select-group" class="custom-select" required>
								<option value="">Escolha seu grupo</option>
							{% for group in site.data.tsp-cup-groups %} 
								<option value="{{ group.id }}" data-name="{{ group.name }}" data-members="{% for member in group.members %}{{ member }}{% if forloop.last == false %}, {% endif %}{% endfor %}" data-members-short="{{ group.members_short }}">{{ group.name }} ({% for member in group.members %} {{ member }}{% if forloop.last == false %}, {% endif %} {% endfor %})</option>
							{% endfor %}
							</select>
							<div class="invalid-feedback">
								Precisamos saber qual grupo está enviando a solução!
							</div>
						</div>
						
						<div class="form-group">
							<label for="select-instance">Instância</label>
							<select class="form-control" id="select-instance" class="custom-select" required>
								<option value="">Escolha a instância</option>
								<option value="1">tsp1</option>
								<option value="2">tsp2</option>
								<option value="3">tsp3</option>
							</select>
							<div class="invalid-feedback">
								Você precisa informar qual a instância que utilizou para gerar a solução!
							</div>
						</div>

						<div class="form-group">
							<label for="input-cost">Valor da solução</label>
							<input type="number" class="form-control" id="input-cost" aria-describedby="valor" placeholder="Valor" name="cost" required>
							<div class="invalid-feedback">
								Informe o valor da solução que você encontrou! (Obs: Esse valor deve ser um inteiro)
							</div>
						</div>
						
						<div class="form-group">
							<label for="textarea-solution">Solução</label>
							<textarea class="form-control" id="textarea-solution" rows="5" required></textarea>
							<div class="invalid-feedback">
								Você deve informar uma solução viável!
							</div>
	
							<input class="d-none" type="text" name="_gotcha">
							<input type="hidden" name="_language" value="pt-BR" />
						</div>
						
						<button id="btn-submit" class="btn btn-primary" type="submit">Enviar!</button>

						<button id="btn-sending" class="btn btn-primary d-none" type="button" disabled>
							<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
							Enviando...
						</button>
					</form>

					<!-- Success -->
					<div id="alert-successfully-sent" class="alert alert-success alert-dismissible d-none" role="alert">
						<h4 class="alert-heading">Solução enviada!</h4>
						<p>Sua solução passará por mais uma etapa de verificação e caso tudo esteja certo a classificação será atualizada. Volte mais tarde para conferir a classificação.</p>
						<hr>
						<p class="mb-0">Obs: Geralmente as atualizações são feitas uma vez por dia.</p>
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>

					<div id="container-alerts">
						
					</div>

					<form id="form-test" class="d-none" action="https://formspree.io/bruno.bruck@ci.ufpb.br" method="POST" target="_blank"/>
						<input id="input-email-msg" type="text" name="message" value="">
						<input id="input-email-title" type="hidden" name="_subject" value="[TSP-CUP] Nova solução" />
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End TSP Cup Section -->

