<style>

.pagination .page-link {
    padding: 0.75rem 1.5rem;
    line-height: 1.5;
}

</style>

<!-- Begin Latest News Section -->
<section id="latest-news" class="pb-0">
	<div class="content-wrapper bg-gray pb-0">
		<div class="container">
			{% for post in paginator.posts %}
				{% assign counter = forloop.index | modulo:3 %}
				{% assign postUrl = site.baseurl | append: post.url %} 
				{% if counter == 1 %}
				<div class="row justify-content-center">
					<div class="col">
						<div class="card-deck">
				{% endif %}
						
				<div class="card shadow-sm">
					<img src="{{ site.baseurl }}/assets/news/{{post.image-path}}" class="card-img-top mb-3" alt="...">
					<div class="card-body text-left p-0 flex-column d-flex">
						<h5 class="card-title">{{ post.title }}</h5>
						<p class="card-text"><small class="text-muted">{{ post.date | timeago }}</small></p>
						<p class="card-text text-justify">{{ post.abstract }}</p>
						<a href="{{ postUrl }}" class="btn btn-primary w-100 mt-auto"><i class="fas fa-angle-right mx-1"></i> Leia mais</a>
					</div>
				</div>
				
				{% if forloop.last or counter == 0 %}
						</div>
					</div>
				</div>
				{% endif %}
			{% endfor %}

			<!-- Pagination links -->
			<div class="row justify-content-center py-5">
				<div class="col-auto">
					<div class="pagination-container">
						<ul class="list-pagination pagination">
							<!-- Previoius -->
							<li class="page-item previous {% unless paginator.previous_page %} disabled {% endunless %}">
								<a href="{{ paginator.previous_page_path }}" class="page-link">Anterior</a>
							</li>

							<!-- Trail -->
							{% if paginator.page_trail %}
								{% for trail in paginator.page_trail %}
									<li class="page-item {% if page.url == trail.path %} active {% endif %}">
										<a class="page-link" href="{{ trail.path | prepend: site.baseurl }}" title="{{trail.title}}">{{ trail.num }}</a>
									</li>
								{% endfor %}
							{% endif %}
							
							<!-- Next -->
							<li class="page-item next {% unless paginator.next_page %} disabled {% endunless %}">
								<a href="{{ paginator.next_page_path }}" class="page-link">Próxima</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End Latest News Section -->

