<style>

#map-canvas{
	width: 100%;
	height: 500px;
}

#form-contact label{
	font-size: 1.2rem;
	color: #3d3d3d;
	font-weight: 300;
}

#form-contact input{
	line-height: 
}

#form-contact .invalid-feedback{
	font-size: 1rem;
}

#form-contact button{
	min-width: 120px;
}

</style>

<!-- Begin Contact Section -->
<section id="contact-page" class="pb-0">
	<div class="content-wrapper mx-auto pb-0 pt-5">
		<div class="row justify-content-center no-gutters">
			<div class="col-xl-10 col-md-10 col-xs-12 text-center">
				<div class="sec-sub-title">Nos envie uma</div>
				<div class="sec-title f-weight-light align-items-center">Mensagem!</div>
			</div>
		</div>

		<div class="row justify-content-center no-gutters mx-auto mb-5 pb-5" style="max-width: 800px;">
			<div class="col-xl-10 col-md-10 col-xs-12 text-left">
				<form id="form-contact" class="needs-validation" action="https://formspree.io/fertom00@gmail.com" method="POST" novalidate>
					<div class="form-group">
						<label for="field-name">Nome</label>
						<input type="text" class="form-control" id="field-name" aria-describedby="nome" placeholder="Seu nome" name="name" required>
						<div class="invalid-feedback">
							Precisamos saber seu nome, não se preocupe, não contamos para ninguém!
						</div>
					</div>
					<div class="form-group">
						<label for="field-subject">Assunto</label>
						<input type="text" class="form-control" id="field-subject" aria-describedby="assunto" placeholder="Hm..." name="_subject">
					</div>
					<div class="form-group">
						<label for="field-email">Email</label>
						<input type="email" class="form-control" id="field-email" aria-describedby="email" placeholder="Qual seu email?" name="_replyto" required>
						<div class="invalid-feedback">
							Ops, precisamos de um email válido!
						</div>
					</div>
					<div class="form-group">
						<label for="field-message">Mensagem</label>
						<textarea class="form-control" id="field-message" rows="5" required></textarea>
						<div class="invalid-feedback">
							Qual a mensagem?
						</div>

						<input class="d-none" type="text" name="_gotcha">
						<input type="hidden" name="_language" value="pt-BR" />
						<input type="hidden" name="_next" value="{{ site.baseurl }}/contact"/>
					</div>
					
					<button type="submit" id="submit-email" class="btn btn-primary">Enviar!</button>
				</form>
			</div>
		</div>

	<!-- Location box -->
	<div class="description-wrapper row align-items-center no-gutters">
		<div id="map-canvas" class="position-absolute"></div>
		<div class="col-lg-3 col-md-4 col-sm-6 offset-md-2 location-description text-left">
			<div class="row">
				<div class="pull-left">
					<h4 class="small-caps">LASER</h4>
					<h6 class="mb-4">Centro de Informática da UFPB</h6>
					
					<!-- Address -->
					<div class="item row no-gutters mb-2">
						<div class="icon col-md-auto mr-1" style="width: 16px;">
							<span class="fa fa-map-marker-alt"></span>
						</div>
						<div class="col">
							Rua dos Escoteiros, s/n <br>
							Mangabeira, João Pessoa - PB <br>
							CEP 58055-000
						</div>
					</div>

					<!-- Phone  -->
					<div class="item row no-gutters mb-2">
						<div class="icon col-md-auto mr-1" style="width: 16px;">
							<span class="fa fa-phone"></span>
						</div>
						<div class="col">
							+ 55 (83) 3209-8319
						</div>
					</div>

					<!-- Email  -->
					<div class="item row no-gutters mb-2">
						<div class="icon col-md-auto mr-1" style="width: 16px;">
							<span class="fa fa-envelope"></span>
						</div>
						<div class="col">
							laser@ci.ufpb.br
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End Contact Section -->