<style>

.form-dropdown{
	min-width: 200px;
	font-weight: 300;
}

.doi-icon{
	color: #FFB200;
	font-size: 2rem;
}

.doi-icon:hover{
	color: #3d3d3d;
}

.pagination .page-link {
    padding: 0.75rem 1.5rem;
    line-height: 1.5;
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

.card-horizontal {
    display: flex;
    flex: 1 1 auto;
}

div.dataTables_wrapper div.dataTables_paginate{
	margin-top: 20px;
}

</style>

<!-- Begin Publications Section -->
<section id="publications">
	<div class="content-wrapper mx-auto">
		<div class="container">
			<!-- Filters -->
			<div class="row justify-content-center no-gutters">
				<div class="col text-center">
					<div class="sec-sub-title">Publicações em</div>
					<div class="sec-title f-weight-light align-items-center">Periódicos & Conferências</div>
				</div>
			</div>

			<div class="row justify-content-center no-gutters">
				<!-- List of publications -->
				<div class="col text-center">
					<table id="table-publications" class="table" style="font-size: 1rem">
						<thead class="thead-light">
							<tr>
								<th class="col-auto">#</th>
								<th class="col text-left">Título / Autor(es)</th>
								<th class="col-auto">Ano</th>
								<th class="col-auto">Links</th>
							</tr>
						</thead>
						<tbody>
							{% for paper in site.data.publications %} 
								<tr>
									<th class="col-auto"></th>
									<td class="col text-justify"><span class="small-caps">{{ paper.authors | join: ", "  }}</span>. <em>"{{ paper.title }}"</em>. <span class="small-caps">{{ paper.journal }}</span>, {% if paper.volume != null %} v. {{ paper.volume }}, {% endif %} {% if paper.pages != null %} p. {{ paper.pages }}, {% endif %} {{ paper.year }}</td>
									<td class="col-auto">{{ paper.year }}</td>
									<td class="col-auto"><a href="http://dx.doi.org/{{ paper.doi }}" class="ai ai-doi d-flex px-2 doi-icon" target="_blank"></a></td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End Publications Section -->