<!-- Begin Footer -->
<footer id="footer" class="footer-blue">
	<div class="content-wrapper">
		<div class="container">
			<div class="row justify-content-center align-items-center no-gutters">
				<div class="col-auto mr-4">
					<img class="logo-light" src="{{ site.baseurl }}/img/logos/logo-light-3.svg" width="64" height="64" alt="">
				</div>
				<div class="col">
					<span class="d-block">LASER - 2019</span>
					<span class="d-block">Centro de Informática</span>
					<span class="d-block">Universidade Federal da Paraíba</span>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- End Footer -->