
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="description" content="{{ site.description }}">
    <meta name="keywords" content="{{ site.metaKeywords }}">
    <meta name="google-site-verification" content="{{ site.siteVerification }}" />
    <link rel="canonical" href="{{ site.url }}">
    
    <title>{% if page.title %}{{ page.title }} &bull; {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
    
    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/img/fav/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/img/fav/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/img/fav/favicon-16x16.png">
    <link rel="manifest" href="{{ site.baseurl }}/img/fav/site.webmanifest"">
    <link rel="mask-icon" href="{{ site.baseurl }}/img/fav/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="{{ site.baseurl }}/img/fav/favicon.ico">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="msapplication-config" content="{{ site.baseurl }}/img/fav/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    
    <link href="{{ "/css/main.css" | prepend: site.baseurl }}" rel="stylesheet"> 
    <link href="{{ "/css/academicons.min.css" | prepend: site.baseurl }}" rel="stylesheet"> 
    
    
    {% if page.permalink == '/' %}
        <!-- HOME PAGE SCRIPTS -->
        <link href="{{ "/slick/slick-theme.css" | prepend: site.baseurl }}" rel="stylesheet">
        <link href="{{ "/slick/slick.css" | prepend: site.baseurl }}" rel="stylesheet">
        <link href="{{ "/css/leaflet-1.4.0.css" | prepend: site.baseurl }}" rel="stylesheet"> 
    {% elsif page.permalink == '/publications' %}
        <!-- PUBLICATIONS PAGE SCRIPTS -->
        <link href="{{ "/css/datatables.min.css" | prepend: site.baseurl }}" rel="stylesheet"> 
    {% elsif page.permalink == '/contact' %}
        <!-- CONTACT PAGE SCRIPTS -->
        <link href="{{ "/css/leaflet-1.4.0.css" | prepend: site.baseurl }}" rel="stylesheet"> 
    {% endif %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
  </head>
