<!-- Begin Hero Section -->
<section id="top-section-hero" class="top-section-hero top-section image-section" style="background:linear-gradient(0deg,rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('{{ site.baseurl }}/img/new-version/{{ site.heroImage }}');background-size:cover;">
    
    {% include navigation-hero.html %}
    
    <div class="content-wrapper">
        <div class="jumbotron">
                
            <span class="main-title d-block">Laboratory of Systems <br>Engineering and Robotics</span>
            <span class="title d-block mb-5">Pesquisa e desenvolvimento</span>
            <div class="container-buttons">
                <a href="{{ site.baseurl }}/projects" class="btn btn-primary">Nossos projetos</a>
                <a href="{{ site.baseurl }}/about" class="btn btn-primary">Sobre nós</a>
            </div>
        </div>
    </div>
</section>

<!-- End Hero Section -->