<!-- Begin Latest News Section -->
<section id="latest-news" class="pb-4">
	<div class="content-wrapper bg-gray py-5">
		<div class="container">
			<div class="sec-sub-title">Últimas</div>
			<div class="sec-title">Notícias</div>

			<div class="row justify-content-center">
				<div class="card-deck">

				{% for post in site.categories.news limit:3 %}
					<div class="card shadow-sm">
						<img src="{{ site.baseurl }}/assets/news/{{post.image-path}}" class="card-img-top mb-3" alt="...">
						<div class="card-body text-left p-0 flex-column d-flex">
							<h5 class="card-title">{{post.title}}</h5>
							<p class="card-text"><small class="text-muted">{{ post.date | timeago }}</small></p>
							<p class="card-text text-justify">{{post.abstract}}</p>
							<a href="{{ post.url }}" class="btn btn-primary w-100 mt-auto"><i class="fas fa-angle-right mx-1"></i> Leia mais</a>
						</div>
					</div>
				{% endfor %}
				</div>
			</div>

		
			<div class="row justify-content-center mt-5 mb-3">
				<a href="{{ site.baseurl }}/news" class="btn btn-primary"><i class="fas fa-angle-right mx-1"></i> Ver todas as notícias</a>
			</div>
		</div>
	</div>
</section>
<!-- End Latest News Section -->