<div id="top-header" class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <a href="{{ site.baseurl }}/"><img class="logo-light" src="{{ site.baseurl }}/img/logos/logo-light.svg" width="64" height="64" alt=""></a> 
        </div>
        
        <div class="col">
            <nav class="menu" id="menu">
                <ul>
                    {% for navigationLink in site.navigationLinks %}
                    <li>
                        <a class="{% if navigationLink.permalink != null and page.permalink == navigationLink.permalink %}current{% endif %}"  href="{% if navigationLink.permalink != null %} {{ navigationLink.permalink | prepend: site.baseurl }} {% else %} {{ navigationLink.link }} {% endif %}" {% if navigationLink.link != null %}target="_blank"{% endif %}>{{ navigationLink.text}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </div>
</div>