<!-- Begin Partners Section -->
<section id="partners" class="partners">
    <div class="content-wrapper">
        <div class="sec-title">Parcerias e Colaborações</div>

        <div class="row justify-content-md-center">
            <div class="col">
                <div class="carousel-partners">
                    <div>
                        <a href="https://www.vsoft.com.br/" class="item-partner partner-vsoft" target="blank" data-path="{{ site.baseurl }}/img/partners/" data-name='vsoft'><img src="{{ site.baseurl }}/img/partners/vsoft.png"></a> 
                    </div>
                    <div>
                        <a href="www.uff.br/" class="item-partner partner-uff" target="blank" data-path="{{ site.baseurl }}/img/partners/" data-name='uff'><img src="{{ site.baseurl }}/img/partners/uff.png"></a> 
                    </div>
                    <div>
                        <a href="https://www.conductor.com.br/" target="blank" class="item-partner partner-conductor" data-path="{{ site.baseurl }}/img/partners/" data-name='conductor'><img src="{{ site.baseurl }}/img/partners/conductor.png"></a> 
                    </div>
                    <div>
                        <a href="http://www.armazempb.com.br/" class="item-partner partner-armazem-pb" target="blank" data-path="{{ site.baseurl }}/img/partners/" data-name='armazem-pb'><img src="{{ site.baseurl }}/img/partners/armazem-pb.png"></a> 
                    </div>
                    <div>
                        <a href="www.dismi.unimore.it/" class="item-partner partner-unimore" target="blank" data-path="{{ site.baseurl }}/img/partners/" data-name='unimore'><img src="{{ site.baseurl }}/img/partners/unimore.png"></a> 
                    </div>
                </div>
            </div>
        </div>
    </div> 
</section>