<style>

#top-section .page-title h1{
    font-size: 4rem;
}

.post-body img{
    width: 100%;
}


</style>

<!-- Begin Post Section -->
<section id="post-section">
    <div class="content-wrapper mx-auto" style="max-width: 1300px;">
        <div class="row justify-content-center no-gutters pt-5">
            <div class="col-xl-8 col-md-10 col-xs-12 text-justify">
                <div class="post-body">
                    {{ content }}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Post Section -->