<style>

.carousel-control-prev, .carousel-control-next{
    width: 32px;
    font-size: 3rem; 
    color: #03A9F4 !important;
}

.carousel-control-prev:visited, .carousel-control-next:visited{color: #03A9F4}
.carousel-control-prev:hover, .carousel-control-next:hover{color: #03A9F4}

.carousel-control-prev{left: -60px}
.carousel-control-next{right: -60px}

</style>

<!-- Projects Section -->
<section id="projects" class="pb-4">
    <div class="content-wrapper">
        <div class="container">
            <div class="sec-sub-title">Conheça nossos últimos</div>
            <div class="sec-title">Projetos</div>

            <div class="row justify-content-center">
                <div class="col content text-left">
                    <div id="carousel-projects" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            {% for post in site.categories.projects limit:3 %}
                                <div class="carousel-item {% if forloop.index == 1%} active {% endif %}">
                                    <div class="row px-4">
                                        <div class="col content text-left">
                                            <h5 class="content-title">{{ post.title }}</h5>
                                            <p class="content-text text-justify">{{ post.abstract }}</p>
                                            <a href="{{ post.url }}"  class="btn btn-primary"><i class="fas fa-info-circle mx-1"></i> Saiba mais</a>
                                        </div>
                        
                                        <div class="col-auto">
                                            <img src="{{ site.baseurl }}/assets/projects/{{post.image-path}}" width="400" alt="" class="rounded">
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>

                        <a class="carousel-control-prev" href="#carousel-projects" role="button" data-slide="prev">
                            <span class="fas fa-angle-left" aria-hidden="true"></span>
                            <span class="sr-only">Anterior</span>
                        </a>
                        <a class="carousel-control-next" href="#carousel-projects" role="button" data-slide="next">
                            <span class="fas fa-angle-right" aria-hidden="true"></span>
                            <span class="sr-only">Próximo</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Projects Section -->