<!-- About Research -->
<section id="research" class="pb-4">
    <div class="content-wrapper bg-gray pt-4">
        <div class="container">
            <div class="sec-title">Linhas de Pesquisa</div>

            <div class="row justify-content-center">
                <div class="col-auto item mr-3 pb-5">
                    <div class="row no-gutters align-items-center">
                        <img src="{{ site.baseurl }}/img/icons/robotics.svg" width="72" alt="" class="item-icon">
                        <h6 class="item-name mb-0 ml-3">Robótica</h6>
                    </div>
                </div>

                <div class="col-auto item mr-3 pb-5">
                    <div class="row no-gutters align-items-center">
                        <img src="{{ site.baseurl }}/img/icons/embeeded-systems.svg" width="72" alt="" class="item-icon">
                        <h6 class="item-name mb-0 ml-3">Sistemas <br> Embarcados</h6>
                    </div>
                </div>

                <div class="col-auto item mr-3 pb-5">
                    <div class="row no-gutters align-items-center">
                        <img src="{{ site.baseurl }}/img/icons/optimization.svg" width="72" alt="" class="item-icon">
                        <h6 class="item-name mb-0 ml-3">Otimização</h6>
                    </div>
                </div>
                
                <div class="col-auto item pb-5">
                    <div class="row no-gutters align-items-center">
                        <img src="{{ site.baseurl }}/img/icons/logistics.svg" width="72" alt="" class="item-icon">
                        <h6 class="item-name mb-0 ml-3">Logística <br> e Transporte</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Research Section -->
