<style>

.page-title {
	color: #fff;
}

</style>

<!-- Begin Top Section -->
<section id="top-section">

    {% include navigation.html %}
	
	<div class="content-wrapper pb-0">
		<div class="container">
			<div class="page-title text-left py-5 mt-4">
				<h1>{{ page.title }}</h1>
				<h6>{{ page.date | timeago }}</h1>
			</div>
		</div>
	</div>
</section>
<!-- End Top Section -->