#about{
    .content{
        .content-title{
            font-weight: $regular;
            margin-bottom: 10px;
        }
        .content-text{
            color: $subtitle-color;
            margin-bottom: 30px;
        }
        .btn{
            width: 200px;
        }
    }
}