@import "compass";

// Font weights
$light2: 100;
$regular: 300;
$bold: 500;
$extra-bold: 600;

// Base Font
$base-font-family: sans-serif;
$base-font-weight: $regular;
$base-font-size: 0.9rem;
$base-line-height: 23px;
$button-line-height:1.8rem;

// Fixed Font
$fixed-font-family: 'Roboto';
$fixed-font-size: 85%;
$fixed-line-height: $base-line-height;

// Headings
$header-font-weight: $light2;
$h1-font-size: 6.125 * $base-font-size;
$h2-font-size: 5.875 * $base-font-size;
$h3-font-size: 5 * $base-font-size;
$h4-font-size: 3.125 * $base-font-size;
$h5-font-size: 2 * $base-font-size;
$h6-font-size: 1.7 * $base-font-size;


// Colors
$main-color: #2399D6;
$primary-color: #03A9F4;

$secondary-color: #001F29;
$subtitle-color: #707070;
$header-text-color: #333;
$red-color: #E0445D;
$link-color: $main-color;
$link-lighten-amount: 20%;
$base-background-color: #fff;
$fade-background-color: #f5f9fb;
$base-section-background-color: $primary-color;
$primary-color-hover: #3266d5;
$icon-fill-color: #8b8b8b;
$gray-light:#6c757d;
$gray-medium:#3d3d3d;

// Navigation bar
$nav-color: #fff;
$nav-color-hover: $primary-color;

// Sizes
$min-section-height: 250px;
$section-padding-top: 50px;
$section-padding-bottom: 60px;
$small-section-padding-top: 20px;
$small-section-padding-bottom: 40px;

// Global variables
$base-transition: all .3s;
$base-cubic-transition: all .3s cubic-bezier(0.175, 0.885, 0.320, 1.275);
$long-transition: all .5s;
$long-cubic-transition: all .5s cubic-bezier(0.175, 0.885, 0.320, 1.275);

// Path
$image-dir: "../img";

@import "modules/all";