.btn {
    font-weight: $bold;
    transition: $base-cubic-transition;
}
.btn-primary {
    color: #fff !important;
    user-select: none;
    border: 0;
    line-height: $button-line-height;
    background: $main-color !important;
    &:hover, &:focus, &:active, &.active {
        outline: none;
        color: #fff;
        background: $primary-color-hover;
    }
}
