#contact{
    min-height: 500px;
    padding-bottom: 0;

    #map-canvas{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 500px;
    }

    .description-wrapper{
        z-index: $zindex-fixed;
        height: 500px;

        .location-description{
            min-width: 400px;
            padding: 20px 50px;
            background: #fff;
            z-index: $zindex-fixed;

            .icon{
                color: $primary-color;
                height: 100%;
            }

            h4{
                color:$primary-color; 
                font-weight: $regular;
            }

            h6{
                font-weight: $regular;
            }
        }
    }
}