#about-us{
    h5{
		color: $header-text-color;
		margin-top: 10px;
		margin-bottom: 10px;
	}
    
    p{
		font-size: 15px;
		font-weight: $regular;
		line-height: $base-line-height;
	}
    
    .img-laser-about{
		width: 80%;
		max-width: 600px;
	}

	.col{max-width: 1000px;}
}