#contact-page{
    .description-wrapper{
        z-index: $zindex-fixed;
        height: 500px;

        .location-description{
            min-width: 400px;
            padding: 20px 50px;
            background: #fff;
            z-index: $zindex-fixed;

            .icon{
                color: $primary-color;
                height: 100%;
            }

            h4{
                color:$primary-color; 
                font-weight: $regular;
            }

            h6{
                font-weight: $regular;
            }
        }
    }
}