#latest-news{
    .content{
        .content-title{
            font-weight: $regular;
            margin-bottom: 10px;
        }
        .content-text{
            color: $subtitle-color;
            margin-bottom: 30px;
        }   
    }

    .card{
        max-width: calc(33% - 30px);
        margin-top: 15px;
        margin-bottom: 15px;

        .card-title{
            color: $secondary-color;
            font-weight: $regular;
            margin-bottom: 0;
        }

        .card-text{
            color: $subtitle-color;
        }

        .btn{
            width: 200px;
        }
    }
}