#team{
    .content{
        .content-title{
            font-weight: $regular;
            margin-bottom: 10px;
        }
        .content-text{
            color: $subtitle-color;
            margin-bottom: 30px;
        }   
    }

    .card{
        @media (min-width: 576px) {
            max-width: calc(33% - 30px);
        }
        margin-top: 15px;
        margin-bottom: 15px;

        .card-title{
            color: $gray-medium;
            font-weight: $regular;
            margin-bottom: 0;
        }

        .card-text{
            color: $subtitle-color;
        }

        img{
            max-width: 150px;
        }

        .ai{
            color: $gray-light;
            font-size: 35px;
        }

        a:hover{
            color: $primary-color;
        }
    }

    .icon-list{
        color: $gray-medium;
    }
    li{
        font-size: 0.9rem;
        line-height: 23px;
        list-style-type: none;
    }
}