@include web-fonts(($fixed-font-family:($light2, $regular, $bold)));
body, html {
    font-family: $fixed-font-family, $base-font-family;
    font-size: $base-font-size;
    font-weight: $regular;
    width: 100%;
    height: 100%;
    background: $base-background-color;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .004);
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
}

section {
    position: relative;
    overflow: hidden;
    min-height: $min-section-height;
    padding-bottom: $section-padding-bottom;
    text-align: center;
    @media (max-width: 767px) {
        padding-top: $small-section-padding-top;
        padding-bottom: $small-section-padding-bottom;
    }
    h3 {
        margin-bottom: 50px;
        @media (max-width: 767px) {
            padding-bottom: 30px;
        }
    }
}
p {
    font-size: 15px;
    font-weight: 300;
    line-height: $base-line-height;
}
i {
    font-style: normal;
}
b, strong {
    font-weight: $bold;
}
a {
    @include linkColor($link-color);
    &:hover, &:active, &:focus {
        text-decoration: none;
    }
}
#{headings()} {
    font-weight: $light2;
    display: block;
}
h1 {
    font-size: $h1-font-size;
    @media (max-width: 767px) {
        font-size: $h1-font-size * 60 / 100;
    }
}
h2 {
    font-size: $h2-font-size;
    @media (max-width: 767px) {
        font-size: $h2-font-size * 60 / 100;
    }
}
h3 {
    font-size: $h3-font-size;
    @media (max-width: 767px) {
        font-size: $h3-font-size * 70 / 100;
    }
}
h4 {
    font-size: $h4-font-size;
    @media (max-width: 767px) {
        font-size: $h4-font-size * 70 / 100;
    }
}
h5 {
    font-size: $h5-font-size;
    @media (max-width: 767px) {
        font-size: $h5-font-size * 80 / 100;
    }
}
h6 {
    font-size: $h6-font-size;
    @media (max-width: 767px) {
        font-size: $h6-font-size * 80 / 100;
    }
}