.content-wrapper{
    position: relative;
    z-index: 1;
    height: 100%;
    padding: 20px 0; 

    .sec-title{
        color: $primary-color;
        font-size: $base-font-size * 4;
        margin-bottom: 30px;
    }

    .sec-sub-title{
        color: $subtitle-color;
        font-size: $base-font-size * 1.5;
        margin-bottom: -10px;
    }
}

.bg-gray{
    background-color: $fade-background-color;
}

.small-caps{
	font-variant: small-caps;
}

.all-small-caps{
	font-variant: all-small-caps;
}

.f-weight-light{
    font-weight: $light2;
}

.f-weight-regular{
    font-weight: $regular;
}

.f-weight-bold{
    font-weight: $bold;
}

.f-weight-extra-bold{
    font-weight: $extra-bold;
}

.card {
    position: relative;
    overflow: hidden;
    // height: 100%;
    margin-bottom: 10px;
    padding: 25px;
    border-radius: 4px;
    background: #fff;
}