.top-section-hero {
    width: 100%;
    height: 100%;
    padding-top: 0;
    .jumbotron{
        position: relative;
        top: 10%;
        margin: 0;
        left: 0;
        .title{
            font-size: $base-font-size * 2.5;
            font-weight: $light2;
        }
        .main-title{
            font-size: $base-font-size * 5;
            font-weight: $regular;
            line-height: 5rem;
            margin-bottom: 15px;
        }
        .btn{
            margin: 0 3px;
            width: 200px;
        }
    }
}