#research{
    .content-wrapper{
        min-height: 270px;
        padding-top: 20px;
        
        .item-name{
            font-weight: $regular;
            color: $secondary-color;
            
            @media (min-width: 992px){
                font-size: 1.8 * $base-font-size;
            }
        }

        .item-icon{
            border: none;
            @media (min-width: 1200px){
                max-width: 72px;
            }

            @media (min-width: 992px){
                max-width: 64px;
            }
        }
    }
}