#top-section-hero{
    position: relative;
    min-height: 400px;
    padding-top: 0;
    background: $base-section-background-color;
    
    .jumbotron {
        position: relative;
        color: #fff;
        background: 0;
    }
}