---
layout: compress
---

<!DOCTYPE html>
<html lang="pt-br">

{% include head.html %}


<body>

    {{ content }}
    
    {% include footer.html %}

    <script src="{{"/js/jquery-3.3.1.min.js" | prepend: site.baseurl}}"></script>
    <script src="{{"/js/bootstrap4.2.1.min.js" | prepend: site.baseurl}}"></script>
    <script src="{{ "/js/fontawesome-free-5.6.3.all.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/core.js" | prepend: site.baseurl }}"></script>

    
    {% if page.permalink == '/' %}
        <!-- HOME PAGE SCRIPTS -->
        <script src="{{ "/slick/slick.min.js" | prepend: site.baseurl }}"></script>
        <script src="{{ "/js/leaflet-1.4.0.min.js" | prepend: site.baseurl }}"></script>
        <script src="{{ "/js/home.js" | prepend: site.baseurl }}"></script>
    {% elsif page.permalink == '/publications' %}
        <!-- PUBLICATIONS PAGE SCRIPTS -->
        <script src="{{ "/js/datatables.min.js" | prepend: site.baseurl }}"></script>
        <script src="{{ "/js/publications.js" | prepend: site.baseurl }}"></script>
    {% elsif page.permalink == '/contact' %}
        <!-- CONTACT PAGE SCRIPTS -->
        <script src="{{ "/js/leaflet-1.4.0.min.js" | prepend: site.baseurl }}"></script>
        <script src="{{ "/js/contact.js" | prepend: site.baseurl }}"></script>
    {% elsif page.permalink == '/tsp-cup/' %}
        <!-- TSP CUP SCRIPTS -->
        <script src="{{ "/js/moment.min.js" | prepend: site.baseurl }}"></script>
        <script src="{{ "/js/tsp-cup.js" | prepend: site.baseurl }}"></script>
    {% elsif page.permalink == '/tsp-cup/submit' %}
        <!-- TSP CUP SUBMIT SCRIPTS -->
        <script src="{{ "/js/moment.min.js" | prepend: site.baseurl }}"></script>
        <script src="{{ "/js/tsp-cup-submit.js" | prepend: site.baseurl }}"></script>
    {% elsif page.permalink == '/cvrp-cup/' %}
        <!-- CVRP CUP SCRIPTS -->
        <script src="{{ "/js/moment.min.js" | prepend: site.baseurl }}"></script>
        <script src="{{ "/js/cvrp-cup/cvrp-cup.js" | prepend: site.baseurl }}"></script>
    {% elsif page.permalink == '/cvrp-cup/submit' %}
        <!-- CVRP CUP SUBMIT SCRIPTS -->
        <script src="{{ "/js/moment.min.js" | prepend: site.baseurl }}"></script>
        <script src="{{ "/js/cvrp-cup/cvrp-cup-submit.js" | prepend: site.baseurl }}"></script>
    {% endif %}

</body>

</html>
