---
layout: compress
---

<!DOCTYPE html>
<html lang="pt-br">

{% include head.html %}

<body>
    {% include top-section-post.html %}

    {% include post.html %} 
    
    {% include footer.html %}

    <script src="{{"/js/jquery-3.3.1.min.js" | prepend: site.baseurl}}"></script>
    <script src="{{"/js/bootstrap4.2.1.min.js" | prepend: site.baseurl}}"></script>
    <script src="{{ "/js/fontawesome-free-5.6.3.all.min.js" | prepend: site.baseurl }}"></script>
</body>

</html>
